.env

env/
# Ignore environment variable files
.env
# Ignore Python cache files
__pycache__/
# Ignore Python bytecode files
*.pyc
# Ignore log files
logs/
*.log

config/
# Ignore configuration files
*.json